<h1 mat-dialog-title><span *ngIf="!client.id">Add</span><span *ngIf="client.id">Edit</span> Client</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="user-form">
     <div fxLayout="column" class="form-field-outer">
                    <mat-grid-list cols="2" rowHeight="70px">
                       <mat-grid-tile >
                    <mat-form-field class="w-100 mr-2">


                  
                        <input matInput placeholder="nom" formControlName="name" required>
                        <mat-error *ngIf="form.controls.name.errors?.required">Name is required</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('minlength')">Name isn't long enough, minimum of 5
                            characters
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                  <mat-grid-tile >
               
                
                    <mat-form-field class="w-100 mr-2">
        
                        <input matInput placeholder="Numero de contrat" formControlName="num_contrat" >
                    </mat-form-field>
                   </mat-grid-tile>
                  <mat-grid-tile >

                    <mat-form-field class="w-100 mr-2">
                      
                        <input matInput placeholder="NPA"  formControlName="npa">

                    </mat-form-field>
                        </mat-grid-tile>
                  <mat-grid-tile >

                    <mat-form-field class="w-100 mr-2">
                      
                        <input matInput placeholder="Address" formControlName="address">
                    </mat-form-field>
                        </mat-grid-tile>
                  <mat-grid-tile >

                    <mat-form-field class="w-100 mr-2">
                   
                        <input matInput placeholder="localite" formControlName="localite">
                    </mat-form-field>
                        </mat-grid-tile>
                    <mat-grid-tile >
                            <mat-form-field class="w-100 mr-2">
                                <mat-select placeholder="Choose type" formControlName="type" name="type">
                                    <mat-option *ngFor="let type of types" [value]="type">
                                        <div fxLayout="row" fxLayoutAlign="start center">
                                            <span class="mx-3">{{type}}</span>
                                        </div>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                     
                    </mat-grid-tile>
                         <mat-grid-tile>
                            <mat-form-field class="w-100 mr-2">
                                <input matInput placeholder="Numero des employes" formControlName="num_emp">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="w-100 mr-2">
                                <input matInput placeholder="Numero de register de commerce" formControlName="nrc">
                            </mat-form-field>
                        </mat-grid-tile>

                              <mat-grid-tile>
                            <mat-form-field class="w-100 mr-2">
                                <input matInput placeholder="Phone" formControlName="mobile">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="w-100 mr-2">
                                <input matInput placeholder="Tel" formControlName="tel">
                            </mat-form-field>
                        </mat-grid-tile>

                            <mat-grid-tile>

                            <mat-form-field class="w-100 mr-2">
                                <input matInput type="email" placeholder="Email" formControlName="email">
                                <mat-error *ngIf="form.controls.email.hasError('email')">data should be email
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                </mat-grid-list>

                   

                  
                </div>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid"><span
            *ngIf="!client.id">Save</span><span *ngIf="client.id">Update</span></button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>
