<app-content-header
        [icon]="'domain'"
        [title]="server.name"
       
        [hideBreadcrumb]="false"
        [hasBgImage]="false"
        [class]="'pb-4'"></app-content-header>

<div fxLayout="row wrap" fxLayoutAlign="center" class="p-2">
    <div fxFlex="100" fxFlex.gt-sm="33.33" class="p-2">
        <mat-card class="custom-card">
            <mat-card-header class="bg-primary p-1" fxLayoutAlign="space-between center">
                <mat-card-title class="my-2"><h3>Basic</h3></mat-card-title>

            </mat-card-header>

            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <mat-icon matListIcon>link</mat-icon>
                        <h3 matLine class="bold"> URL </h3>
                        <p matLine>
                            <span> {{server.url}}  </span>
                        </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>domain</mat-icon>
                        <h3 matLine class="bold"> company </h3>
                        <p matLine>
                            <span> {{server.company}}  </span>
                        </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>person</mat-icon>
                        <h3 matLine class="bold"> CEO </h3>
                        <p matLine>
                            <span> {{server.ceo}}  </span>
                        </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>share</mat-icon>
                        <h3 matLine class="bold"> ip </h3>
                        <p matLine>
                            <span> {{server.ip}}  </span>
                        </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>vpn_key</mat-icon>
                        <h3 matLine class="bold"> git token </h3>
                        <p matLine>
                            <span> {{server.git_token}}  </span>
                        </p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33.33" class="p-2">
        <mat-card class="custom-card">
            <mat-card-header class="bg-accent p-1" fxLayoutAlign="space-between center">
                <mat-card-title class="my-2"><h3>SSH</h3></mat-card-title>

            </mat-card-header>

            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <mat-icon matListIcon>code</mat-icon>
                        <h3 matLine class="bold"> Host </h3>
                        <p matLine>
                            <span> {{server.ssh_host}}  </span>
                        </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>supervisor_account</mat-icon>
                        <h3 matLine class="bold"> User </h3>
                        <p matLine>
                            <span> {{server.ssh_user}}  </span>
                        </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>security</mat-icon>
                        <h3 matLine class="bold"> Pass </h3>
                        <p matLine>
                            <span> {{server.ssh_pass}}  </span>
                        </p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33.33" class="p-2">
        <mat-card class="custom-card">
            <mat-card-header class="bg-warn p-1" fxLayoutAlign="space-between center">
                <mat-card-title class="my-2"><h3>Database</h3></mat-card-title>

            </mat-card-header>

            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <mat-icon matListIcon>link</mat-icon>
                        <h3 matLine class="bold"> Url </h3>
                        <p matLine>
                            <span> {{server.url_host}}  </span>
                        </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>code</mat-icon>
                        <h3 matLine class="bold"> Host </h3>
                        <p matLine>
                            <span> {{server.db_host}}  </span>
                        </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>supervisor_account</mat-icon>
                        <h3 matLine class="bold"> User </h3>
                        <p matLine>
                            <span> {{server.db_user}}  </span>
                        </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>security</mat-icon>
                        <h3 matLine class="bold"> Pass </h3>
                        <p matLine>
                            <span> {{server.db_pass}}  </span>
                        </p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!--ceo: "qzdqzd"-->
<!--company: "qzdqd"-->
<!--created_at: null-->
<!--db_host: null-->
<!--db_pass: "qzdqz"-->
<!--db_user: "dqzdqz"-->
<!--deadline: null-->
<!--git_token: "qzdqzd"-->
<!--id: 1-->
<!--ip: "qzdqzd"-->
<!--name: "haythemlp"-->
<!--ssh_host: "qzdqz"-->
<!--ssh_pass: "qzdqz"-->
<!--ssh_user: "qzdqz"-->
<!--start: null-->
<!--status: 1-->
<!--updated_at: "2019-08-02 18:34:44"-->
<!--url: "qzdq"-->
<!--url_host: "qzdqz"-->
