<app-content-header [title]="'List'" [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-5'"></app-content-header>

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 mailbox-toolbar">
    <div fxLayout="row" *ngIf="spiner">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>list</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="filterMenu" #filterMenuTrigger="matMenuTrigger">
            <mat-icon>filter_list</mat-icon>
        </button>
        <mat-menu #filterMenu="matMenu">
            <span (mouseleave)="filterMenuTrigger.closeMenu()">
                <button mat-menu-item (click)="status = 'all';getAllTickets();">Tous</button>
                <button mat-menu-item (click)="status = 'new';getAllTickets();">Nouveaux</button>
                <button mat-menu-item (click)="status = 'read';getAllTickets();">Lu</button>
                <button mat-menu-item (click)="status = 'solved';getAllTickets();">Resolu</button>
                <button mat-menu-item (click)="status = 'unsolved';getAllTickets();">Non resolu</button>
            </span>
        </mat-menu>
        <button mat-icon-button (click)="showSearch = !showSearch">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <form class="mail-search" [class.show]="showSearch">
        <mat-form-field class="mail-search-input">
            <input matInput placeholder="Chercher ticket..." [(ngModel)]="searchText" name="search">
        </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button *ngIf="ticket" mat-icon-button matTooltip="Repondre" (click)="replyDialog(null)" matTooltipPosition="above">
            <mat-icon>reply</mat-icon>
        </button>
        <button *ngIf="newTicket" mat-icon-button (click)="newTicket = false;" matTooltip="Back" matTooltipPosition="above">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <button *ngIf="ticket" mat-icon-button (click)="delete()" matTooltip="Supprimer" matTooltipPosition="above">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="moreMenu" #moreMenuTrigger="matMenuTrigger" [style.display]="(ticket) ? 'block' : 'none'">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #moreMenu="matMenu" xPosition="before">
            <span (mouseleave)="moreMenuTrigger.closeMenu()">
                <button *ngIf="ticket && ticket.status !='new' " mat-menu-item (click)="changeType('new')">Maquer comme nouveau</button>
                <button *ngIf="ticket && ticket.status !='read' " mat-menu-item (click)="changeType('read')">Marquer comme lu</button>
                 <button *ngIf="ticket && ticket.status !='solved' " mat-menu-item (click)="changeType('solved')">Marquer comme resolu</button>
                 <button *ngIf="ticket && ticket.status !='unsolved' " mat-menu-item (click)="changeType('unsolved')">Marquer comme non resolu</button>
            </span>
        </mat-menu>
        <button mat-icon-button (click)="compose()" fxHide="false" fxHide.gt-xs>
            <mat-icon>fiber_new</mat-icon>
        </button>
        <button mat-raised-button color="accent" (click)="compose(null)" class="compose" fxShow="false" fxShow.gt-xs>Compose</button>
    </div>
</mat-toolbar>

<div fxLayout="row wrap">
    <div fxFlex="100" *ngIf="spiner">
        <mat-card class="p-0 mailbox">
            <mat-drawer-container class="mailbox-container">
                <mat-drawer #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="mailbox-sidenav mat-elevation-z1" autoFocus="false">
                    <mat-nav-list class="p-0 mailbox-sidenav-list" perfectScrollbar>
                        <div *ngFor="let ticket of tickets " (click)="viewDetail(ticket.id)">
                            <mat-list-item>

                                <img matListAvatar src="assets/img/users/default-user.jpg">

                                <div matLine fxLayout="row" fxLayoutAlign="space-between space-between">
                                    <h4 class="text-truncate sender">{{ticket.client}} <mat-chip color="primary" class="px-2 ml-2">{{ticket.status}}</mat-chip></h4>
                                    <small>{{ticket.created_at}}</small>

                                </div>

                                <p matLine class="text-truncate subject">{{ticket.sujet}}</p>

                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-nav-list>
                </mat-drawer>

                <div class="mailbox-content" perfectScrollbar>

                    <ng-container *ngIf="ticket">
                        <app-read-ticket [ticket]="ticket"></app-read-ticket>
                    </ng-container>
                    <div *ngIf="!ticket && !newTicket" fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
                        <mat-icon>receipt</mat-icon>
                        <p>Sélectionnez un ticket à lire</p>
                    </div>

                    <app-new-ticket [questions]="questions" [types]="types" [clients]="clients" [serversList]="serversList" [editableTicket]="editableTicket" *ngIf="newTicket"></app-new-ticket>

                </div>
            </mat-drawer-container>
        </mat-card>
    </div>
    <div *ngIf="!spiner" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</div>