<mat-card class="mt-5 p-0">
    <mat-card-header class="p-3 bg-primary" fxLayoutAlign="center">
        <h2>Graphique Des Tickets </h2>
    </mat-card-header>
    <mat-card-content class="p-3">
        <div class="w-100 " #resizedDiv>
            <ngx-charts-pie-chart
                [scheme]="colorScheme"
                [results]="ticket"
                [legend]="showLegend"
                [explodeSlices]="false"
                [labels]="true"
                [doughnut]="doughnut"
                [gradient]="gradient"
                (select)="onSelect($event)">
            </ngx-charts-pie-chart>   
        </div>
    </mat-card-content>
</mat-card>
