@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdn.quilljs.com/1.2.2/quill.snow.css');
@import url('https://cdn.quilljs.com/1.2.2/quill.bubble.css');
// indigo-pink, deeppurple-amber, purple-green and pink-bluegrey.
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import "app/theme/styles/base";
@import "app/theme/styles/spaces";
@import "app/theme/styles/libs-override";
@import "app/theme/styles/theme";
@import "app/theme/styles/gradients";
@import "app/theme/styles/rtl";

.success{
    
      color: #fff !important;
    background:#28a745 !important;
}

.primary{
	    color: #fff !important;
    background: #007bff !important;
}

.danger{
	
	    color: #fff !important;
    background: #bd2130 !important;

}

.text-primary{
    color: #707cd2!important;
}
.snackbar {
    max-width: 90% !important;
    margin-left: auto !important; // center align from left
    margin-right: auto !important; // center align from right
    margin-bottom: 1rem !important; 
    padding: 10px !important; // spacing between the text and boundary
    background-color: #0b8357;
    color: #f7f0cf;

    .mat-button-wrapper {
        color: black !important; // action text color
    }
}

.vertical-tabs.mat-tab-group {
  .mat-tab-body-wrapper {

    padding: 0 16px;
    width: 100%;
  }

}

.search {
  width: 0;
  overflow: hidden;
  transition: 0.3s;
  font-size: 14px;

  .mat-form-field {
    width: 100% !important;
    text-align: center !important;
    height: 36px;
  }

  .mat-form-field-infix {
    padding: 5px;
    width: 100px;
  }

  .mat-input-element {
    text-align: center;
  }

  &.show {
    width: 100%;
    overflow: visible;
  }
}
.user-spinner{
    position: absolute;
    top:0; right: 0; bottom: 0; left:0;
}
