<h1 mat-dialog-title><span *ngIf="!quest.id">Ajouter</span><span *ngIf="quest.id">Modifier</span> Catégorie</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="user-form">
    <div fxLayout="column" class="form-field-outer">

      <mat-form-field class="w-100 mr-2">


        <input matInput placeholder="Nom" formControlName="text" required>
        <mat-error *ngIf="form.controls.text.errors?.required">Nom est obligatoire</mat-error>
        <mat-error *ngIf="form.controls.text.hasError('minlength')">Nom n'est pas assez long ,il doit etre de 5 caractères minimum
        </mat-error>
      </mat-form-field>




    </div>
  </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid"><span
          *ngIf="!quest.id">Enregistrer</span><span *ngIf="quest.id">Modifier</span></button>
  <button mat-raised-button color="warn" (click)="close()">Retour</button>
</div>
